Repository tuxpeople/k8s-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: flux-check, kubernetes-yaml-validate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # General file checks
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.sops\.(yaml|yml|json)$|
            .*\.age$
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.sops\.(yaml|yml|json)$|
            .*\.age$
          )$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

      # YAML validation
      - id: check-yaml
        exclude: |
          (?x)^(
            archive/.*|
            .*\.sops\.(yaml|yml)$|
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$|
            kubernetes/.*/ks\.yaml$|
            kubernetes/.*/rbac\.yaml$|
            kubernetes/.*/networks\.yaml$|
            kubernetes/.*/clusterissuer\.yaml$|
            kubernetes/.*/scrapeconfigs\.yaml$
          )$

      # JSON validation
      - id: check-json
        exclude: |
          (?x)^(
            .*\.sops\.json$
          )$

      # Other useful checks
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # YAML linting with yamllint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: |
          (?x)^(
            archive/.*|
            .*\.sops\.(yaml|yml)$|
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$|
            \.vscode/.*$
          )$

  # Shell script linting (since you have shell scripts)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041] # Disable line length, HTML, first line H1

  # Security check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            archive/.*|
            .*\.sops\.(yaml|yml|json)$|
            .*\.age$|
            tuxpeople_k8s-homelab_.*\.log$
          )$

  # Custom hook for Flux validation (using your existing tools)
  - repo: local
    hooks:
      - id: flux-check
        name: Flux resources validation
        entry: |
          bash -c 'if command -v flux >/dev/null 2>&1 && [ -f kubeconfig ]; then
            echo "✅ Flux validation: Basic YAML structure validated by kubernetes-yaml-validate hook";
            echo "ℹ️  Run: task validate:flux to check live cluster status";
          else
            echo "⚠️  Skipping flux check (flux CLI or kubeconfig not available)";
          fi'
        language: system
        files: ^kubernetes/.*\.ya?ml$
        pass_filenames: false

      - id: kubernetes-yaml-validate
        name: Kubernetes YAML syntax validation
        entry: bash -c 'for file in "$@"; do echo "Validating $file"; yq eval . "$file" >/dev/null || exit 1; done'
        language: system
        files: ^kubernetes/.*\.ya?ml$
        exclude: |
          (?x)^(
            .*\.sops\.(yaml|yml)$
          )$

# Global configuration
default_stages: [pre-commit]
fail_fast: false

chore(mise): upgrade dependencies
  .mise.toml
Due: none

fix(observability): enable ServiceMonitor discovery across all namespaces
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

feat(network): replace ingress-nginx with Traefik v3
  kubernetes/apps/media/mediabox/app/calibre-ingress.yaml
  kubernetes/apps/media/mediabox/app/gaps-ingress.yaml
  kubernetes/apps/media/mediabox/app/prowlarr-ingress.yaml
  kubernetes/apps/media/mediabox/app/radarr-ingress.yaml
  kubernetes/apps/media/mediabox/app/sabnzbd-ingress.yaml
  kubernetes/apps/media/mediabox/app/sonarr-ingress.yaml
  kubernetes/apps/network/external/ks.yaml
  kubernetes/apps/network/external/traefik/helmrelease.yaml
  kubernetes/apps/network/external/traefik/kustomization.yaml
  kubernetes/apps/network/internal/ks.yaml
  kubernetes/apps/network/internal/traefik/certificate.yaml
  kubernetes/apps/network/internal/traefik/helmrelease.yaml
  kubernetes/apps/network/internal/traefik/kustomization.yaml
  kubernetes/apps/network/middlewares/basicauth-dorflade.yaml
  kubernetes/apps/network/middlewares/forwardauth.yaml
  kubernetes/apps/network/middlewares/kustomization.yaml
  kubernetes/apps/network/middlewares/security-headers.yaml
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
  kubernetes/apps/productivity/linkding/app/values.yaml
  kubernetes/apps/productivity/obsidian/app/values.yaml
  kubernetes/apps/productivity/paperless/app/values.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/traefik.yaml
Due: flux-check, kubernetes-yaml-validate

fix(network): fix Traefik chart v40 values schema
  kubernetes/apps/network/external/traefik/helmrelease.yaml
  kubernetes/apps/network/internal/traefik/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

fix(network): fix Traefik chart v40 ports schema
  kubernetes/apps/network/external/traefik/helmrelease.yaml
  kubernetes/apps/network/internal/traefik/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

fix(network): point cloudflared tunnel at external-traefik service
  kubernetes/apps/network/external/cloudflared/configs/config.yaml
Due: flux-check, kubernetes-yaml-validate

fix(dorflade-mhd): move BasicAuth middleware to productivity namespace
  kubernetes/apps/network/middlewares/basicauth-dorflade.yaml
  kubernetes/apps/network/middlewares/kustomization.yaml
  kubernetes/apps/productivity/dorflade-mhd/app/kustomization.yaml
  kubernetes/apps/productivity/dorflade-mhd/app/middleware.yaml
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

secret ajustment
  kubernetes/apps/productivity/dorflade-mhd/app/auth.sops.yaml
Due: flux-check

feat(cert-manager): add TLS certificate for tdeutsch.ch
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/productivity/paperless/app/certificate.yaml
  kubernetes/apps/productivity/paperless/app/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

feat(cert-manager): add TLS certificate for SECRET_CH_DOMAIN
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/certificate-ch.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/kustomization.yaml
  kubernetes/apps/network/external/traefik/certificate.yaml
  kubernetes/apps/network/external/traefik/kustomization.yaml
  kubernetes/apps/productivity/paperless/app/kustomization.yaml
  kubernetes/components/common/cluster-settings.yaml
Due: flux-check, kubernetes-yaml-validate

feat(kyverno): sync production TLS secrets from cert-manager to network
  kubernetes/apps/network/external/traefik/certificate.yaml
  kubernetes/apps/network/external/traefik/kustomization.yaml
  kubernetes/apps/network/internal/traefik/certificate.yaml
  kubernetes/apps/network/internal/traefik/kustomization.yaml
  kubernetes/apps/security/kyverno/policies/kustomization.yaml
  kubernetes/apps/security/kyverno/policies/sync-production-tls.yaml
Due: flux-check, kubernetes-yaml-validate

fix(kyverno): add RBAC for background-controller to manage TLS secrets
  kubernetes/apps/security/kyverno/policies/kustomization.yaml
  kubernetes/apps/security/kyverno/policies/sync-production-tls-rbac.yaml
Due: flux-check, kubernetes-yaml-validate

fix(kyverno): use data instead of clone for TLS secret sync
  kubernetes/apps/security/kyverno/policies/sync-production-tls.yaml
Due: flux-check, kubernetes-yaml-validate

remove mediabox
  archive/apps/mediabox/app/calibre-ingress.yaml
  archive/apps/mediabox/app/gaps-ingress.yaml
  archive/apps/mediabox/app/kustomization.yaml
  archive/apps/mediabox/app/lldap-ingress.yaml
  archive/apps/mediabox/app/notifiarr-ingress.yaml
  archive/apps/mediabox/app/prowlarr-ingress.yaml
  archive/apps/mediabox/app/radarr-ingress.yaml
  archive/apps/mediabox/app/sabnzbd-ingress.yaml
  archive/apps/mediabox/app/sonarr-ingress.yaml
  archive/apps/mediabox/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

update doku
  .claude/settings.local.json
  CLAUDE.md
  README.md
  docs/services/applications-ai.md
  docs/services/applications-media.md
  docs/services/applications-productivity.md
  docs/services/networking.md
  docs/services/security.md
Due: none

add exportarr
  kubernetes/apps/observability/exportarr/ks.yaml
  kubernetes/apps/observability/exportarr/prowlarr_exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/prowlarr_exporter/kustomization.yaml
  kubernetes/apps/observability/exportarr/prowlarr_exporter/prometheusrule.yaml
  kubernetes/apps/observability/exportarr/radarr_exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/radarr_exporter/kustomization.yaml
  kubernetes/apps/observability/exportarr/radarr_exporter/prometheusrule.yaml
  kubernetes/apps/observability/exportarr/sonarr_exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/sonarr_exporter/kustomization.yaml
  kubernetes/apps/observability/exportarr/sonarr_exporter/prometheusrule.yaml
  kubernetes/apps/observability/externalsecret.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

fix auth middleware
  kubernetes/apps/network/internal/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/middlewares/forwardauth.yaml
  kubernetes/apps/network/middlewares/ks.yaml
  kubernetes/apps/productivity/linkding/ks.yaml
Due: flux-check, kubernetes-yaml-validate

update docs
  CLAUDE.md
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/WEITERENTWICKLUNG.md
  docs/architecture.dot
  docs/architecture.drawio
  docs/architecture.png
  docs/automation.md
  docs/backups.md
  docs/dr.md
  docs/flux-dependencies.dot
  docs/flux-dependencies.png
  docs/flux-dependency-graph.md
  docs/monitoring.md
  docs/runbooks.md
  docs/services/applications-ai.md
  docs/services/applications-media.md
  docs/services/applications-productivity.md
  docs/services/cluster-foundation.md
  docs/services/networking.md
  docs/services/observability.md
  docs/services/platform-support.md
  docs/services/storage.md
Due: none

fixed gaps
  docs/backups.md
  docs/services/applications-productivity.md
  docs/services/storage.md
  kubernetes/apps/productivity/freshrss/app/values.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

adding ingress for Flux Operator
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
Due: flux-check, kubernetes-yaml-validate

adding auth to ingress for Flux Operator
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
Due: flux-check, kubernetes-yaml-validate

update docs
  docs/services/fluxcd.md
Due: none

remove stuff set by kyverno
  kubernetes/apps/ai/open-webui/app/values.yaml
  kubernetes/apps/default/bildergallerie/app/values.yaml
  kubernetes/apps/default/echo-server/app/values.yaml
  kubernetes/apps/default/homepage/app/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/ingress.yaml
  kubernetes/apps/media/calibre-web/app/values.yaml
  kubernetes/apps/media/tautulli/app/values.yaml
  kubernetes/apps/network/external/cloudflared/values.yaml
  kubernetes/apps/network/external/external-dns/helmrelease.yaml
  kubernetes/apps/network/internal/python-ipam/values.yaml
  kubernetes/apps/network/internal/unifi-dns/helmrelease.yaml
  kubernetes/apps/observability/exportarr/prowlarr_exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/radarr_exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/sonarr_exporter/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/values.yaml
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
  kubernetes/apps/productivity/freshrss/app/values.yaml
  kubernetes/apps/productivity/linkding/app/values.yaml
  kubernetes/apps/productivity/paperless/app/values.yaml
  kubernetes/apps/security/external-secrets/secretstores/onepassword/values.yaml
  kubernetes/apps/storage/democratic-csi/app/helmrelease.yaml
  kubernetes/apps/storage/litestream-cleanup/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/tools/simple-cmdb/app/values.yaml
  kubernetes/apps/tools/spoolman/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

update docs for kyverno
  docs/services/security.md
Due: none

flux-operator to external
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
Due: flux-check, kubernetes-yaml-validate

cosmetic
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

add alloy
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

split flux-operator values
  kubernetes/apps/flux-system/flux-operator/app/helm/ingress-values.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

add force
  bootstrap/helmfile.yaml
Due: none

fix names
  kubernetes/apps/observability/exportarr/ks.yaml
  kubernetes/apps/observability/exportarr/prowlarr-exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/prowlarr-exporter/kustomization.yaml
  kubernetes/apps/observability/exportarr/prowlarr-exporter/prometheusrule.yaml
  kubernetes/apps/observability/exportarr/radarr-exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/radarr-exporter/kustomization.yaml
  kubernetes/apps/observability/exportarr/radarr-exporter/prometheusrule.yaml
  kubernetes/apps/observability/exportarr/sonarr-exporter/helmrelease.yaml
  kubernetes/apps/observability/exportarr/sonarr-exporter/kustomization.yaml
  kubernetes/apps/observability/exportarr/sonarr-exporter/prometheusrule.yaml
Due: flux-check, kubernetes-yaml-validate

fix substitution error
  kubernetes/apps/tools/pod-cleaner/app/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

fix typo
  kubernetes/apps/observability/exportarr/ks.yaml
Due: flux-check, kubernetes-yaml-validate

Downgrade Kyverno chart version to 3.7.2
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

fix spelling of sonarr
  kubernetes/apps/observability/exportarr/ks.yaml
Due: flux-check, kubernetes-yaml-validate
