Repository tuxpeople/k8s-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: flux-check, kubernetes-yaml-validate

flux-check:
  name: Flux resources validation
  ...

kubernetes-yaml-validate:
  name: Kubernetes YAML syntax validation
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; yq eval . "$file" >/dev/null || exit 1; done'
  language: system

test with crds false
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

chore(mise): upgrade dependencies
  .mise.toml
Due: none

fix kyverno recovery and validate flux timeouts
  Taskfile.yaml
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
  kubernetes/apps/security/kyverno/ks.yaml
  scripts/check-flux-timeouts.sh
Due: flux-check, kubernetes-yaml-validate

fix path issues
  kubernetes/apps/observability/exportarr/ks.yaml
Due: flux-check, kubernetes-yaml-validate

kyverno: cleanupOnFail set to false
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

Kyverno: RBAC für sync-production-tls wurde von policies/ nach app/ verschoben
  kubernetes/apps/security/kyverno/app/kustomization.yaml
  kubernetes/apps/security/kyverno/app/sync-production-tls-rbac.yaml
  kubernetes/apps/security/kyverno/policies/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

increase memory limits for kyverno
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

ci(kyverno): automate CRD generation
  .github/workflows/kyverno-crds.yaml
  .renovaterc.json5
  kubernetes/apps/security/kyverno/crds/crds.yaml
  kubernetes/apps/security/kyverno/crds/kustomization.yaml
  scripts/generate_kyverno_crds.sh
Due: flux-check, kubernetes-yaml-validate

test(kyverno): set chart to 3.8.1
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

test(kyverno): generate CRDs for chart 3.8.1
  kubernetes/apps/security/kyverno/crds/crds.yaml
Due: flux-check, kubernetes-yaml-validate

test(kyverno): reset chart to 3.8.1
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

ci(kyverno): authenticate CRD writeback with PAT
  .github/workflows/kyverno-crds.yaml
Due: none

ci(kyverno): remove Renovate test branch
  .github/workflows/kyverno-crds.yaml
  .renovaterc.json5
Due: none

add crd
  kubernetes/apps/security/kyverno/ks.yaml
Due: flux-check, kubernetes-yaml-validate

fix(kyverno): retain CRDs during ownership transfer
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
  kubernetes/apps/security/kyverno/crds/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

fix(kyverno): manage CRDs outside Helm
  kubernetes/apps/security/kyverno/app/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

use chart
  kubernetes/apps/security/kyverno/crds/helmrelease.yaml
  kubernetes/apps/security/kyverno/crds/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

fix
  kubernetes/apps/security/kyverno/crds/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

switch back to crds
  kubernetes/apps/security/kyverno/crds/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

try fixing values
  kubernetes/apps/network/external/traefik/helmrelease.yaml
  kubernetes/apps/network/internal/traefik/helmrelease.yaml
Due: flux-check, kubernetes-yaml-validate

fix
  talos/talenv.yaml
Due: none

adjust password
  kubernetes/apps/productivity/dorflade-mhd/app/auth.sops.yaml
Due: flux-check

fix path
  kubernetes/apps/observability/exportarr/ks.yaml
Due: flux-check, kubernetes-yaml-validate

fix variable
  kubernetes/apps/observability/gatus/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

disable substitute
  kubernetes/apps/productivity/paperless/app/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

bump image tag for dorflade-mhd
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

Recreate
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

INCLUDE_CURRENT_MONTH true
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

fix(flux): restore observability secret and paperless substitution
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/productivity/paperless/app/kustomization.yaml
Due: flux-check, kubernetes-yaml-validate

fix wording
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Due: flux-check, kubernetes-yaml-validate

fix(dorflade-mhd): use unique ingress anchor
  kubernetes/apps/productivity/dorflade-mhd/app/values.yaml
Due: flux-check, kubernetes-yaml-validate

fix(ci): expose monitoring API to flux-local
  .github/workflows/flux-local.yaml
Due: none

fix(renovate): group stable Talos and Kubernetes updates
  .renovaterc.json5
  talos/talenv.yaml
Due: none

fix(ci): remove resolved workflow failure labels
  .github/workflows/claude.yml
Due: none

disable allowSchedulingOnControlPlanes
  talos/patches/controller/cluster.yaml
Due: none

fix(ci): allow cleanup job to update PR labels
  .github/workflows/claude.yml
Due: none

fix talos version
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
Due: flux-check, kubernetes-yaml-validate

Revert "feat(deps): update talos and kubernetes group"
  .mise.toml
  talos/talenv.yaml
Due: none

Path conditions:
  flux-check: any of: ^kubernetes/.*\.ya?ml$
  kubernetes-yaml-validate: any of: ^kubernetes/.*\.ya?ml$, but not: (?x)^(
  .*\.sops\.(yaml|yml)$
)$

